NODE_ENV=development
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_me
AUTH_KEYCLOAK_ID=replace_me
AUTH_KEYCLOAK_SECRET=replace_me
AUTH_KEYCLOAK_ISSUER=https://keycloak.example.com/realms/your-realm
FEATURE_FLAGS=
NEXT_PUBLIC_FEATURE_FLAGS=
